<div id="comments"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    var gitalk = new Gitalk({
    id: "<%= page.date %>",
    admin: ["<%= theme.Comment.Owner %>"],
    owner: "<%= theme.Comment.Owner %>",
    repo: "<%= theme.Comment.Repo %>",
    clientID:"fe3d26b97726d7cd74f2",
    clientSecret: "<%= theme.Comment.Secret %>",
  })
  gitalk.render('comments')
</script>
<%- css('css/gitalk.css') %>