    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="color-scheme" content="dark light">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="author" content="<%= config.author %>">
    <% if(page.excerpt){ %>
        <meta name="description" content="<%= page.excerpt.replace(/<[^>]*>?/gm, '') %>">
    <% } else if(page.content){ %> 
        <meta name="description" content="<%= page.content.substring(0,100).replace(/<[^>]*>?/gm, '') %>">
    <% } else { %>
        <meta name="description" content="<%= config.title %> | <%= config.subtitle %> | <%= config.description %>">
    <% } %>
    <title>
        <% if(page.title){%>
            <%= page.title %> | <%= config.title %>
        <% } else if (page.tag) { %> 
            Tag: <%= page.tag %> | <%= config.title %>
        <% } else if (page.archive) { %>
            Archives | <%= config.title %>
        <%}else{%>
            <%= config.title %>
        <%}%>
    </title>
    <link rel="icon" href="/favicon.svg"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500;900&display=swap" rel="stylesheet">
    <%- css('css/style.css') %>
    <%- css('css/font-awesome.min.css') %>
