<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    <main class="main">
        <%- body %>
        <div class="go-to-top-wrapper">
            <a onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="go-to-top">
                <i class="fa fa-sort-asc fa-2x"></i>
            </a>
        </div>
    </main>
    <div class="search-items">
    </div>
    <%- partial('_partial/footer') %>
    <%- js('js/tokinew.js') %>  
</body>
</html>
