<article class="post">
    <div class="title">
            <h1>
                <%= page.title %> 
            </h1>
    </div>
<%- partial('_partial/meta') %>
            <div class="content">
                <%- page.content %>
            </div>
<%- partial('_partial/copyright') %>


</article>

<%- partial('_partial/tip') %>
<div class="more">
<% if(page.prev){%>
    <div class="prev">
   <a href="<%- url_for(page.prev.path) %>">← <%= page.prev.title %></a>
    </div>
<%} else {%>
<div class="space"></div>
<%}%>
<div class="space"></div>
<div class="space"></div>
<% if(page.next){%>
    <div class="next">
        <a href="<%- url_for(page.next.path) %>"><%= page.next.title %> →</a>
    </div>
<%} else {%>
    <div class="space"></div>
<%}%>
</div>
 
<%- partial('_partial/comment') %>